
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLoginClient.cshtml";
}

<form action="" method="POST" class="form" id="formLoginClient">
    <h3 class="heading">Đăng Nhập</h3>
    <p class="desc">Nơi mua sắm đáng tin cậy - Bạn của mọi nhà ❤️</p>

    <div class="spacer"></div>

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input id="username" name="username" type="text" placeholder="VD: email@domain.com" class="form-control">
        <span class="form-message"></span>
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Mật khẩu</label>
        <input id="password" name="password" type="password" placeholder="Nhập mật khẩu" class="form-control">
        <span class="form-message"></span>
    </div>

    <button class="form-submit" type="submit" id="btnLoginClient">Đăng Nhập</button>
    <div class="QnCMt9">
        <a href="" class="O64rDC">Quên mật khẩu ?</a>
        <a href="" class="O64rDC"></a>
    </div>

    <div>
        <div class="_1H97P4">
            <div class="_1-lZms"></div>
            <span class="_2vzJrV">HOẶC</span>
            <div class="_1-lZms"></div>
        </div>
        <div class="_1p6-r9">
            <button class="_35rr5y _32qX4k _3Bn0WQ WEKQ8O _1lANZ5">
                <div class="_2RF1Ts">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </div>
                <div class="_3JJsrr _1trMER">Facebook</div>
            </button>
            <button class="_35rr5y _32qX4k _3Bn0WQ WEKQ8O a6g9DN">
                <div class="_2RF1Ts ">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </div>
                <div class="_3JJsrr">Google</div>
            </button>
        </div>
    </div>
    <div class="register">
        <div class="_3SZqDE">
            <span class="_39jZa0">Bạn mới biết đến LanHangMobile?</span>
            <a href="dang-ky-tai-khoan" class="_1gLe-h">Đăng ký</a>
        </div>
    </div>
</form>

