USE [LanHang]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 05/13/2021 10:37:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
	[Birthday] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Password] [nvarchar](max) NULL,
	[IsAdmin] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](250) NULL,
	[ProductID] [bigint] NULL,
	[Position] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Banner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryProduct]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryProduct](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[Name] [nvarchar](200) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](200) NULL,
	[Position] [int] NULL,
	[ParentID] [bigint] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_CategoryProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Logo] [nvarchar](max) NULL,
	[Phone] [nvarchar](200) NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[HotLine] [nvarchar](50) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Zalo] [nvarchar](max) NULL,
	[Youtube] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[Map] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreateBy] [nvarchar](250) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Config] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Password] [nvarchar](50) NULL,
	[DistrictID] [varchar](50) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[Stt] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[ProvinceID] [varchar](50) NULL,
	[Status] [int] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Footer]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Footer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[Description] [nvarchar](250) NULL,
	[Position] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Footer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageInPage]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageInPage](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[Title] [nvarchar](250) NULL,
	[LocationID] [bigint] NULL,
	[Position] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_ImageInPage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterData]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterData](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[ParentID] [bigint] NULL,
	[Position] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_MasterData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Slug] [nvarchar](250) NULL,
	[ParentID] [bigint] NULL,
	[Position] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[New]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[New](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](200) NULL,
	[Views] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[Content] [nvarchar](max) NULL,
	[ParentID] [bigint] NULL,
	[Position] [int] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdateBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_New] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[AdminID] [bigint] NULL,
	[CustomerID] [bigint] NULL,
	[FullName] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Phone] [nvarchar](50) NULL,
	[Note] [nvarchar](250) NULL,
	[OrderStatusID] [int] NULL,
	[Address] [nvarchar](250) NULL,
	[DistrictID] [varchar](50) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [bigint] NULL,
	[ProductID] [bigint] NULL,
	[ColorID] [bigint] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[PriceShip] [decimal](18, 0) NULL,
	[TotalPrice] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Slug] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[ParentID] [bigint] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Policy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](100) NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[Slug] [nvarchar](250) NULL,
	[Price] [decimal](18, 0) NULL,
	[PriceSale] [decimal](18, 0) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[IsHot] [int] NULL,
	[OldNew] [int] NULL,
	[Total] [int] NULL,
	[Buyed] [int] NULL,
	[Like] [int] NULL,
	[View] [int] NULL,
	[Position] [int] NULL,
	[Gift] [nvarchar](max) NULL,
	[CategoryID] [bigint] NULL,
	[BrandID] [bigint] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NULL,
	[ColorID] [bigint] NULL,
 CONSTRAINT [PK_ProductColor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Image] [nvarchar](max) NULL,
	[ProductID] [bigint] NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecification]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecification](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Design] [nvarchar](250) NULL,
	[Size] [nvarchar](250) NULL,
	[Screen] [nvarchar](250) NULL,
	[ScreenResolution] [nvarchar](250) NULL,
	[WideScreen] [nvarchar](250) NULL,
	[CameraRear] [nvarchar](250) NULL,
	[CameraSelfie] [nvarchar](250) NULL,
	[RAM] [nvarchar](250) NULL,
	[CardMemory] [nvarchar](250) NULL,
	[Memory] [nvarchar](250) NULL,
	[CPU] [nvarchar](250) NULL,
	[SpeedCPU] [nvarchar](250) NULL,
	[GPU] [nvarchar](250) NULL,
	[Battery] [nvarchar](250) NULL,
	[SIM] [nvarchar](250) NULL,
	[Network] [nvarchar](250) NULL,
	[ChargingPort] [nvarchar](250) NULL,
	[JackHeadphone] [nvarchar](250) NULL,
	[OS] [nvarchar](250) NULL,
	[MadeIn] [nvarchar](250) NULL,
	[LaunchTime] [datetime] NULL,
	[ProductID] [bigint] NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](250) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](250) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_ProductSpecification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 05/13/2021 10:37:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Stt] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Status] [int] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([ID], [Name], [Image], [Phone], [Birthday], [Email], [Address], [Password], [IsAdmin], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'Nguyễn Sáng', N'/Upload/Image/20210510235902anh1.jpg', N'0383515382', CAST(N'1999-08-08' AS Date), N'admin12@gamil.com', N'nam định', N'admin123', 1, 1, NULL, NULL, CAST(N'2021-04-10T16:44:29.920' AS DateTime), NULL, 0)
INSERT [dbo].[Account] ([ID], [Name], [Image], [Phone], [Birthday], [Email], [Address], [Password], [IsAdmin], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'Ngọc', NULL, N'0383515382', CAST(N'1999-09-09' AS Date), N'admin@gmail.com', N'Hà Nội', N'admin123', 1, 0, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Account] ([ID], [Name], [Image], [Phone], [Birthday], [Email], [Address], [Password], [IsAdmin], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'Hưởng', NULL, N'0383515382', CAST(N'2008-08-09' AS Date), N'admin@gmail.com', N'hà Nội', N'admin123', 1, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([ID], [Name], [Image], [Title], [ProductID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'sang', N'/Upload/Image/20210417211906s21-web.png', N'Giảm giá', 6, 0, 1, CAST(N'2021-04-16T00:01:50.270' AS DateTime), N'Nguyễn Sáng', CAST(N'2021-04-17T21:19:16.490' AS DateTime), N'Nguyễn Sáng', 0)
INSERT [dbo].[Banner] ([ID], [Name], [Image], [Title], [ProductID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'BN12', N'/Upload/Image/20210416131054nnnnn.png', N'Giảm giá', 6, 1, 1, CAST(N'2021-04-16T13:07:53.093' AS DateTime), NULL, CAST(N'2021-04-16T13:10:57.250' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryProduct] ON 

INSERT [dbo].[CategoryProduct] ([ID], [Code], [Name], [Image], [Slug], [Position], [ParentID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'C02', N'Apple', N'/Upload/Image/20210402145137Screenshot (2).png', N'apple', 1, NULL, 1, NULL, NULL, CAST(N'2021-04-05T13:37:00.593' AS DateTime), NULL, 1)
INSERT [dbo].[CategoryProduct] ([ID], [Code], [Name], [Image], [Slug], [Position], [ParentID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'C01', N'Samsung', N'/Upload/Image/20210402145137Screenshot (2).png', N'samsung', 1, NULL, 1, CAST(N'2021-04-04T09:14:20.837' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[CategoryProduct] ([ID], [Code], [Name], [Image], [Slug], [Position], [ParentID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'C03', N'sang', N'/Upload/Image/20210402145137Screenshot (2).png', N'sang', 2, NULL, 1, CAST(N'2021-04-04T23:16:41.193' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[CategoryProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Config] ON 

SET IDENTITY_INSERT [dbo].[Config] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Name], [Phone], [Email], [Address], [Password], [DistrictID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'nguyen van sang', N'0312587959', N'123@gmail.com', N'thái bình', N'121354', NULL, 1, CAST(N'2021-04-12T15:26:44.943' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Customer] ([ID], [Name], [Phone], [Email], [Address], [Password], [DistrictID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'nguyen van sang', N'0312587959', N'123@gmail.com', N'thái bình', N'121354', NULL, 1, CAST(N'2021-04-12T15:28:08.930' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Customer] ([ID], [Name], [Phone], [Email], [Address], [Password], [DistrictID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'nguyen van sang1', N'0312587959', N'123@gmail.com', N'thái bình', N'121354', N'--Ch?n Huy?n--', 0, CAST(N'2021-04-12T16:36:36.877' AS DateTime), NULL, CAST(N'2021-04-12T16:57:21.383' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([Stt], [ID], [Name], [Type], [ProvinceID], [Status], [IsDelete]) VALUES (1, N'001', N'Quận Ba Đình', N'Quận', N'01', 1, 0)
INSERT [dbo].[District] ([Stt], [ID], [Name], [Type], [ProvinceID], [Status], [IsDelete]) VALUES (2, N'002', N'Quận Hoàn Kiếm', N'Quận', N'01', 1, 0)
INSERT [dbo].[District] ([Stt], [ID], [Name], [Type], [ProvinceID], [Status], [IsDelete]) VALUES (3, N'003', N'Quận Tây Hồ', N'Quận', N'01', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Footer] ON 

INSERT [dbo].[Footer] ([ID], [Name], [Image], [Description], [Position], [Status], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsDelete]) VALUES (1, N'VẬN CHUYỂN', N'/Upload/Image/20210427182949truck.png', N'Luôn Luôn Nhanh', 4, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Footer] ([ID], [Name], [Image], [Description], [Position], [Status], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsDelete]) VALUES (2, N'GIÁ THÀNH', N'/Upload/Image/20210427182838price.png', N'Luôn Cạnh Tranh', 2, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Footer] ([ID], [Name], [Image], [Description], [Position], [Status], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsDelete]) VALUES (3, N'THANH TOÁN', N'/Upload/Image/20210402145137Screenshot (2).png', N'Luôn An Toàn', 5, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Footer] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageInPage] ON 

INSERT [dbo].[ImageInPage] ([ID], [Name], [Image], [Title], [LocationID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'sang', N'/Upload/Image/20210402145137Screenshot (2).png', NULL, 4, 1, 1, CAST(N'2021-04-11T01:22:24.993' AS DateTime), N'Nguyễn Sáng', NULL, N'Nguyễn Sáng', 1)
INSERT [dbo].[ImageInPage] ([ID], [Name], [Image], [Title], [LocationID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'Image1', N'/Upload/Image/20210416141155san-pham-hot-ip-mini.png', NULL, 4, 0, 1, CAST(N'2021-04-13T00:09:20.487' AS DateTime), N'Nguyễn Sáng', CAST(N'2021-04-16T14:12:00.187' AS DateTime), N'Nguyễn Sáng', 0)
INSERT [dbo].[ImageInPage] ([ID], [Name], [Image], [Title], [LocationID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'Image2', N'/Upload/Image/20210416141326san-pham-hot-apple-watch.png', NULL, 4, 1, 1, CAST(N'2021-04-16T14:13:31.843' AS DateTime), N'Nguyễn Sáng', NULL, N'Nguyễn Sáng', 0)
SET IDENTITY_INSERT [dbo].[ImageInPage] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterData] ON 

INSERT [dbo].[MasterData] ([ID], [Name], [ParentID], [Position], [Status]) VALUES (1, N'Trang hiển thị', 0, NULL, 1)
INSERT [dbo].[MasterData] ([ID], [Name], [ParentID], [Position], [Status]) VALUES (2, N'Màu sắc', 0, NULL, 1)
INSERT [dbo].[MasterData] ([ID], [Name], [ParentID], [Position], [Status]) VALUES (3, N'Thương hiệu', 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[MasterData] OFF
GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [Name], [Slug], [ParentID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, NULL, NULL, 0, NULL, NULL, NULL, NULL, CAST(N'2021-04-02T22:18:08.163' AS DateTime), NULL, 1)
INSERT [dbo].[Menu] ([ID], [Name], [Slug], [ParentID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'Tin tức', N'/', 0, 1, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Menu] ([ID], [Name], [Slug], [ParentID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'Điện thoại', N'dien-thoai', 0, 1, 1, CAST(N'2021-04-02T22:12:48.693' AS DateTime), N'Nguyễn Sáng', CAST(N'2021-04-13T22:13:01.420' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Menu] OFF
GO
SET IDENTITY_INSERT [dbo].[New] ON 

INSERT [dbo].[New] ([ID], [Name], [Image], [Slug], [Views], [Description], [Content], [ParentID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdateBy], [IsDelete]) VALUES (1, N'Tin hot', NULL, N'tin-hot', NULL, N'a', NULL, 0, 0, 1, NULL, NULL, CAST(N'2021-04-25T14:00:29.967' AS DateTime), N'Nguyễn Sáng', 0)
INSERT [dbo].[New] ([ID], [Name], [Image], [Slug], [Views], [Description], [Content], [ParentID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdateBy], [IsDelete]) VALUES (2, N'sang', N'/Upload/Image/20210402145137Screenshot (2).png', N'sang', 0, N'dfsdfdsf', N'<p>dfdsfdsfsdf</p>
', 0, NULL, 1, CAST(N'2021-04-10T22:44:07.817' AS DateTime), N'Nguyễn Sáng', CAST(N'2021-04-10T23:51:52.550' AS DateTime), N'Nguyễn Sáng', 1)
INSERT [dbo].[New] ([ID], [Name], [Image], [Slug], [Views], [Description], [Content], [ParentID], [Position], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdateBy], [IsDelete]) VALUES (3, N'Tin công nghệ', NULL, N'tin-cong-nghe', 0, N'a', NULL, 0, 1, 1, CAST(N'2021-04-10T22:44:26.143' AS DateTime), N'Nguyễn Sáng', CAST(N'2021-04-25T14:00:51.607' AS DateTime), N'Nguyễn Sáng', 0)
SET IDENTITY_INSERT [dbo].[New] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([ID], [Code], [AdminID], [CustomerID], [FullName], [Email], [Phone], [Note], [OrderStatusID], [Address], [DistrictID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'LH1', 1, 4, N'Sáng', N'nguyensang@gmail.com', N'0123456789', N'sang love', 2, N'mê linh', N'340', 1, NULL, N'a', CAST(N'2021-04-20T22:23:49.917' AS DateTime), N'', 1)
INSERT [dbo].[Order] ([ID], [Code], [AdminID], [CustomerID], [FullName], [Email], [Phone], [Note], [OrderStatusID], [Address], [DistrictID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (4, N'LH4', 1, 5, N'nguyen van sang', N'123@gmail.com', N'0312587959', N'giao buổi chiều', 1, N'Phương canh', N'019', 1, CAST(N'2021-04-20T22:24:32.497' AS DateTime), NULL, NULL, N'Nguyễn Sáng', 1)
INSERT [dbo].[Order] ([ID], [Code], [AdminID], [CustomerID], [FullName], [Email], [Phone], [Note], [OrderStatusID], [Address], [DistrictID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (5, NULL, NULL, NULL, N'nguyen van sang', N'nguyenngocsang15991999@gmail.com', N'0312587959', NULL, NULL, N'thái bình', N'0', NULL, CAST(N'2021-05-07T22:54:40.890' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [ColorID], [Quantity], [Price], [PriceShip], [TotalPrice]) VALUES (26, 27, 11, NULL, 1, CAST(15950000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(15950000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [ColorID], [Quantity], [Price], [PriceShip], [TotalPrice]) VALUES (27, 28, 11, 17, 1, CAST(15950000 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[OrderDetail] ([ID], [OrderID], [ProductID], [ColorID], [Quantity], [Price], [PriceShip], [TotalPrice]) VALUES (28, 29, 11, 17, 1, CAST(15950000 AS Decimal(18, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (1, N'Mới')
INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (2, N'Đang xử lý')
INSERT [dbo].[OrderStatus] ([ID], [Name]) VALUES (3, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Policy] ON 

INSERT [dbo].[Policy] ([ID], [Name], [Slug], [Content], [Image], [Position], [ParentID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'Vận Chuyển', NULL, NULL, N'/Upload/Image/20210413175738logo-devmaster.png', 1, 0, 1, NULL, NULL, CAST(N'2021-04-13T17:57:52.093' AS DateTime), N'Nguyễn Sáng', 1)
INSERT [dbo].[Policy] ([ID], [Name], [Slug], [Content], [Image], [Position], [ParentID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (2, N'Mua hang', NULL, N'a', NULL, 1, 1, 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Policy] ([ID], [Name], [Slug], [Content], [Image], [Position], [ParentID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (3, N'sang', NULL, NULL, N'/Upload/Image/20210402145137Screenshot (2).png', 0, 0, 1, CAST(N'2021-04-10T21:00:00.503' AS DateTime), N'Nguyễn Sáng', NULL, N'Nguyễn Sáng', 1)
SET IDENTITY_INSERT [dbo].[Policy] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Code], [Name], [Image], [Slug], [Price], [PriceSale], [Description], [Content], [IsHot], [OldNew], [Total], [Buyed], [Like], [View], [Position], [Gift], [CategoryID], [BrandID], [Status], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDelete]) VALUES (1, N'SP1', N'Samsung A51', NULL, N'samsung', CAST(20000 AS Decimal(18, 0)), CAST(15000 AS Decimal(18, 0)), N'dfsd', N'dfdsfdsg', 1, 1, NULL, NULL, 1200, 200, 0, NULL, 1, 14, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColor] ON 

INSERT [dbo].[ProductColor] ([ID], [ProductID], [ColorID]) VALUES (1, 1, 10)
INSERT [dbo].[ProductColor] ([ID], [ProductID], [ColorID]) VALUES (2, 2, NULL)
INSERT [dbo].[ProductColor] ([ID], [ProductID], [ColorID]) VALUES (3, 3, NULL)
SET IDENTITY_INSERT [dbo].[ProductColor] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ID], [Name], [Image], [ProductID]) VALUES (1, NULL, N'/Upload/Image/20210402145137Screenshot (2).png', 2)
INSERT [dbo].[ProductImage] ([ID], [Name], [Image], [ProductID]) VALUES (2, NULL, N'/Upload/Image/20210402145137Screenshot (2).png', 3)
INSERT [dbo].[ProductImage] ([ID], [Name], [Image], [ProductID]) VALUES (3, NULL, N'/Upload/Image/20210402145137Screenshot (2).png', 4)
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSpecification] ON 

SET IDENTITY_INSERT [dbo].[ProductSpecification] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([Stt], [ID], [Name], [Type], [Status], [IsDelete]) VALUES (1, N'01', N'Thành phố Hà Nội', N'Thành phố Trung ương', 1, 0)
INSERT [dbo].[Province] ([Stt], [ID], [Name], [Type], [Status], [IsDelete]) VALUES (2, N'02', N'Tỉnh Hà Giang', N'Tỉnh', 1, 0)
INSERT [dbo].[Province] ([Stt], [ID], [Name], [Type], [Status], [IsDelete]) VALUES (3, N'04', N'Tỉnh Cao Bằng', N'Tỉnh', 1, 0)
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
