<div class="collapse border show objInfor">
    <div class="alert-danger mb-3 admins-h2 btn-red" style="background: #f53d2d !important">
        THÔNG TIN VỀ THƯƠNG HIỆU
    </div>
    <div class="form-group mb-3" hidden>
        <input type="number" name="Id" class="form-control" id="Id" value="0">
    </div>

    <div class="form-group mb-3">
        <label class="font-weight-bold mb-1">Tiêu đề</label>
        <input type="text" name="Name" class="form-control" id="name" value="" autofocus>
        <div class="text-danger"></div>
    </div>

    <div class="form-group mb-3">
        <label class="font-weight-bold mb-1">Thứ tự</label>
        <input type="number" name="Position" class="form-control" id="Position" value="0">
        <div class="text-danger"></div>
    </div>

    <div class="form-group mb-3">
        <label class="font-weight-bold mb-1">Trạng thái</label>
        <input type="radio" name="Status" id="s1" data-value="1" value="1" class="ml-4" checked /> <label for="s1" class="mt-1 ml-2">Hoạt động</label>
        <input type="radio" name="Status" id="s2" data-value="0" value="0" class="ml-4" /> <label for="s2" class="mt-1 ml-2">Khóa</label>
    </div>
    <div class="row">
        <div class="col-md-12 text-right mr-0 pr-0 mt-1 mb-0 modal-footer">
            <button type="button" class="btn btn btn-red btnCancel"><i class="fas fa-reply-all"></i> Nhập lại</button>
            <button type="button" class="btn btn-success btnSave" data-id="0"> <i class="far fa-save"></i> Lưu lại</button>
        </div>
    </div>
</div>
