<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right  d-sm-inline">
       LanHang Mobile
    </div>
    <!-- Default to the left -->
    <strong>
        Copyright &copy; 2021
        <a href="https://www.facebook.com/NgocLx159">NVSANG</a>.
    </strong> All rights reserved.
</footer>
