
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'SVN-Athena_0';
    src: url('../../fonts/SVN-Athena_0.ttf') format('truetype');
}

html {
    font-size : 16px;
}
body {
    font-family: 'SVN-Athena_0';
}
a {
    text-decoration: none;
}
.header{
    margin-left:200px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.height-100 {
    height: 100px;
}

.height-200 {
    height: 200px;
}
/* slick */
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-prev:before,
.slick-next:before {
    color: #aabc44;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .5;
}

.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    /* // extra large */
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}


/* header */
.header {
}

    .header .container-fluid {
        width: 1280px;
        height: 100px;
    }

    .header .navbar-nav li {
        padding: 0 40px;
    }

    .header .navbar-nav .nav-item a {
        display: block;
    }
/* banner */
.banner {
}

    .banner ol.carousel-indicators {
        bottom: -70px;
    }

    .banner .carousel-indicators li {
        background-image: url(../images/images/trang-chu/around.png);
        width: 34px;
        height: 34px;
        z-index: 200;
        border-radius: 200px;
    }

        .banner .carousel-indicators li.active {
            background-image: url(../images/images/trang-chu/around1.png);
            width: 34px;
            height: 34px;
            z-index: 200;
            border-radius: 200px;
        }

    .banner .contentBx {
        z-index: 100;
        top : 0px;
        transform: translate( 39%,50%);
    }

        .banner .contentBx p {
            width: 60%;
        }

    .banner .btn {
        background-color: #aabc44;
        border: 0;
    }
/* product */
.product {
}

    .product img.imgBx {
        width: auto;
        height: auto;
        left: 0;
        bottom: -20rem;
    }

    .product img.imgBx1 {
        width: auto;
        height: auto;
        right: 6rem;
        top: 0;
    }

.Product-slick {
    width: 66.66666667%;
}

.product .Product-slick h2 {
    margin-top: 10px;
    font-size: 0.8rem;
}

.introduce .contentBx {
    z-index: 19;

    transform: translateX(50%);
}

    .introduce .contentBx p {
        width: 60%;
    }

.introduce .btn {
    background-color: #aabc44;
    border: 0;
}

.introduce .heading {
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
}

.introduce .number-phone {
    top: 18rem;
    right: 2rem;
}

    .introduce .number-phone h3 {
        left: 35%;
        top: 50%;
        color: #aabc44;
        transform: translateY(-50%);
    }

.professional {
    background-image: url(../images/images/trang-chu/bannernghenhan.png);
    min-height: 100vh;
    /* background-size: cover; */
    background-repeat: no-repeat, repeat;
}

.professional-tea {
    width: 66.6666667%;
    margin: 0 auto;
}

.professional input[type="text"] {
    width: 42.7%;
    height: 3rem;
    border: 2px solid #aabc44;
}

.professional button.btn {
    background-color: #aabc44;
    height: 3rem;
}


.professional img {
    height: auto;
}
.buy-now{
    
    height:100vh;
    background-image : url(../images/images/trang-chu/bannermuangay.png)
}
.footer {
    height: 210px;
    background-color: #f1f1e7;
}

    .footer img {
        width: auto;
        height: auto;
    }

    .footer a {
        color: #111;
        text-decoration: none;
    }

    .footer .imgBx {
        bottom: 0;
        right: 0;
    }
